body {
  background-color: #fdf4ff;
  color: #475569;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: -0.025rem;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: #475569;
  transition: color 100ms cubic-bezier(0.42, 0, 1, 1);
}

a:hover {
  color: #0ea5e9;
}
